---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
#search-cancel{
    word-break: keep-all;
}

@media (max-width: 576px){
    .post-content>div[class^=language-] {
        margin-left: -0.25rem;
        margin-right: -0.25rem;
        border-radius: 0;
    }
}

